{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block container %}
<body class="text-center signin">
<form method="post" class="form-signin">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
           placeholder="Email" oninput="validateEmail(this.value)" onchange="validateEmail(this.value)" required
           autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <span id="emailValidate" style="color: red"></span>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
{% block javascripts %}
<script>
  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (re.test(String(email).toLowerCase())) {
      document.getElementById('emailValidate').innerHTML = "";
    }
    else {
      document.getElementById('emailValidate').innerHTML = "Incorrect email address";
    }
  }
</script>
{% endblock %}