{% extends 'base.html.twig' %}

{% block title %}Your Dashboard{% endblock %}

{% block container %}
    {% if app.user %}
    <h1>Hello {{ app.user.name }}!</h1>
    {% if app.user.isConfirmed == false %}
        Confirm your account to use all features.
    {% endif %}
    {% else %}
        <h1> Hello guest!</h1>

        Sign in to access all of the features...
    {% endif %}
{% endblock %}
