<h3>You did it! You registered!</h3>

Hi {{ user.name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
Please confirm your account <a href="{{ absolute_url(path('app_confirm_email', {'confirmationToken': user.confirmationToken})) }}"> HERE!</a>

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">